<h3>Hey [CONTACT_NAME],</h3>

<p>Hope you are having a good start to your week. 
We just made this song we think you may find interesting. 
We would love to get your feedback!</p>

<h3>[SONG_LINK]</h3>

<p>We are a producer/songwriting duo called PJCrew. 
So far we have worked with some artists like Aurora and DePresno.</p>

For more music, here is a playlist:

<p><a href="soundcloud.com/pjcrew/sets/pj-crew-catalog">soundcloud.com/pjcrew/sets/pj-crew-catalog</a></p>

<p>Best regards,</p>
<h4>PJCrew</h4>
